* {
    box-sizing: border-box;
}

:root  {
    --background-color: #110022;
    --primary-color: #66ccff;
    --secondary-color: #0066cc;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin: 0;
}

header {
    padding: 20px;
    display: flex;
    background: linear-gradient(0.5turn, var(--primary-color), var(--background-color), var(--secondary-color));
    color: var(--primary-color);
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 78px;
    margin: 2px;
    margin-right: 48px;
}

div {
    display: block;
}

.hero {
    display: flex;
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-start;
}

.container .containerhero {
    display: flex;
    min-height: 545px;
    margin-bottom: 80px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
}

.herotext {
    width: 70%;
    max-width: 820px;
}

.hero-picture {
    color: var(--secondary-color);
    padding: 15px;
    width: 25%;
    margin: 3.5%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 30.2, .4);
    border-radius: 15px;
}

.hero-picture img {
    width: 100%;
    flex: 0 0 400px;
}

h1 {
    margin-bottom: 30px;
    font-size: 57px;
    line-height: 75px;
}

h1, h2 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-bottom: 10px;
}

ol, p, ul {
    margin-top: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    color: var(--secondary-color);
    background-color: transparent;
}

.paragraphdesc {
    max-width: 511px;
}

/*
.buttondown {
    display: inline-block;
    margin-top: 30px;
    padding-right: 35px;
    background-image: url(/assets/images/down-arrow.png);
    background-position: 100% 50%;
    background-size: auto;
    background-attachment: scroll;
    -webkit-transition: background-position .3s ease;
    transition: background-position .3s ease;
    font-size: 24px;
    font-weight: 900;
}
*/
aside {
    flex: 30%;
    position: absolute;
    top: 40px;
    right: 50px;
    height: 57vh;
    background: linear-gradient(.12turn, var(--primary-color), var(--background-color), var(--secondary-color));
    padding: 20px;
    flex-wrap: wrap;
    max-width: 290px;
    border-radius: 30px;
    padding: 5px;
    margin: 10px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
    color: white;
}

aside p {
    font-size: 13px;
    font-weight: bold;
    flex-wrap: wrap;
    line-height: 32px;
    position: relative;
    display: block;
}
footer {
    flex: 40%;
    background: linear-gradient(0.5turn, var(--primary-color), var(--background-color), var(--secondary-color));
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 5px;
    margin: 10px;
    margin-top: 52px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 30.2, .4);
}

footer h2 {
    display: inline-block;
    text-align: left;
}

footer h3, p {
    display: inline;
    text-align: right;
    padding: 5px;
    margin: 5px;
}

footer h3 img {
    height: 38px;
}